@import "tailwindcss";

/* --- 1. Paksa Light Mode (Agar HP Dark Mode tetap terang) --- */
:root {
    color-scheme: light; 
}

/* --- 2. Konfigurasi Tema (Warna & Font Boss) --- */
@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    
    --color-primary: #9ac236;
    --color-secondary: #b6c236;
}

/* --- JURUS PAKSA: Override Warna Body --- */
/* Ini akan memaksa background jadi PUTIH walaupun HP Boss mode gelap */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff !important; /* Paksa Putih */
    color: #111827 !important; /* Paksa Hitam (Gray-900) */
  }
  
  /* Opsional: Matikan background gelap umum */
  .dark\:bg-gray-900 {
    background-color: #ffffff !important;
  }
}