@import "tailwindcss";

/* --- 1. Paksa Light Mode (Agar HP Dark Mode tetap terang) --- */
:root {
    color-scheme: light; 
}

/* --- 2. Konfigurasi Tema (Warna & Font Boss) --- */
@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    
    --color-primary: #9ac236;
    --color-secondary: #b6c236;
}